data-pipelines-with-apache-airflow/
lecture7/assignment
lecture8/assignment
!lecture7/assignment/
!lecture7/assignment/docker/
!lecture7/assignment/docker/main.tf
!lecture7/assignment/docker/README.md
!lecture7/assignment/aws/
!lecture7/assignment/aws/main.tf
!lecture7/assignment/aws/README.md
!lecture8/assignment/
!lecture8/assignment/aws/
!lecture8/assignment/aws/.terraform.lock.hcl
!lecture8/assignment/aws/main.tf
!lecture8/assignment/aws/variables.tf
!lecture8/assignment/aws/outputs.tf
!lecture8/assignment/aws/README.md
!lecture8/assignment/aws/modules/
!lecture8/assignment/aws/modules/s3-bucket/
!lecture8/assignment/aws/modules/s3-bucket/main.tf
!lecture8/assignment/aws/modules/s3-bucket/variables.tf
!lecture8/assignment/aws/modules/s3-bucket/outputs.tf
